<section>
  <form [formGroup]="formModel" (ngSubmit)="onSubmit()">
    <fieldset>
      <label>Rodzaj Twojego konta</label>
      <select formControlName="accountType">
        <option value="green">Zielonka ({{ env.perChunk.green }} przywołań)</option>
        <option value="orange">Pomarańczka ({{ env.perChunk.orange }} przywołań)</option>
        <option value="maroon">Bordo ({{ env.perChunk.maroon }} przywołań)</option>
      </select>

      <div formArrayName="urls">
        <label>Lista adresów URL</label>
        <div class="row" *ngFor="let url of formModel['controls']['urls']['controls']; let i = index">
          <div class="column">
            <input type="url" placeholder="https://www.wykop.pl/wpis/123456/lorem-ipsum/" [formControlName]="i">
          </div>
          <div class="column">
            <button class="button-outline button-x" [disabled]="!i" (click)="onRemoveUrl(i)"></button>
          </div>
        </div>
        <button
          class="button-outline"
          (click)="onAddUrl()"
          [disabled]="formModel['controls']['urls']['controls'].length >= env.maxFields"
        >
          Dodaj adres
        </button>
      </div>

      <label>Spoiler</label>
      <input type="checkbox" id="spoiler" formControlName="spoiler">
      <label class="label-inline" for="spoiler">Dodaj spoiler do wołanych użytkowników</label>

      <button
        type="submit"
        [ngClass]="{ 'w-full': true, 'button-loading': loading }"
        [disabled]="formModel.invalid || loading"
      >
        Generuj
      </button>
    </fieldset>
  </form>
</section>

<app-generator-result
  [voters]="voters"
  [urls]="urls"
  [spoiler]="formModel.value.spoiler"
  *ngIf="!loading">
</app-generator-result>
